{% extends "base.html.twig" %}

{% block body %}
    <div class="container table-responsive-xl">
    <h2 class="fst-italic">Teacher Name: {{teacher.name}}</h2>
        <div class="row">
            <div class="col">
                <h3 class="fst-italic">Email: {{teacher.email}}</h3> 
                <br>
                <h3 class="text">Classes:
                    {% if teacher.classes != null %}
                    <a href="{{path('classes_detail', {'id': teacher.classes.id})}}">{{teacher.classes.name}}</a>
                    {% endif %}
                </h3>
                <br>
                <h5 class="text-justify">Date of Birth: {{teacher.birthday | date('d/m/Y')}}</h5>
            </div>
        </div>
    </div>
{% endblock %}